#side-nav {
    position: fixed;
    width: 260px;
    top: 0;
    bottom: 0;
}

.nav-link.active {
    color: #2f2f2f !important;
    background-color: #fff !important;
}

#side-nav-container i {
    font-size: 1.5rem;
    vertical-align: -0.125em;
}

.layout_test {
    border-style: solid;
    border-color : white;
    border-width: 1px;
}
